.Header:focus{
  text-decoration: none;
}
.Padding-style{
  padding: 60px;
}
.section-margin{
  margin-top: 5%;
}
.within-section-margin{
  margin-top: 2%;
}
.Text{
  color: #3d3d3d;
}
.Font-header{
  font-family: "Futura", Open Sans-serif;
}
.Font-sub-header{
  font-family: "Open Sans", sans-serif;
}
.Sub-text{
  color: azure;
}
.Name{
font-size: 6em;
}
.Title{
font-size: 3em;
}
.Background-white{
  background: white;
}
.Background-azure{
  background: #EDEDED	;
}
.Background-black{
  background: #3d3d3d;
}
.nav-bar{
  position:fixed;
}
.form-style{
  margin-bottom: 10px;
}
.profilePhoto{
    background-image: url(/static/media/Sahana.9c26353e.jpg);
    height: 200px;
    width: 150px;
    background-size: 100% auto;
}
.Text-body-size{
  font-size: 1.4em;
  font-weight: lighter;
}
.Project4{
  background-color: #49274a;
}
.icon{
  font-size: 2.8em;
  padding:2%;
}