.Header:focus{
  text-decoration: none;
}
.Home{
  padding: 20px;
}
.section-margin{
  margin-top: 5%;
}
.Text{
  color: #3d3d3d;
}
.Font-header{
  font-family: "Futura", Open Sans-serif;
}
.Font-sub-header{
  font-family: "Open Sans", sans-serif;
}
.Sub-text{
  color: azure;
}
.Name{
font-size: 6em;
}
.Title{
font-size: 3em;
}
.Background-white{
  background: white;
}
.Background-black{
  background: #3d3d3d;
}
.nav-bar{
  position:fixed;
}
.form-style{
  margin-bottom: 10px;
}